@font-face {
    font-family: tilli;
    src: url(../fonts/cinzel.ttf);
}

@font-face {
    font-family: futura;
    src: url(../fonts/futura.ttf);
}


button:focus {
    outline: 0;
}

body {
    overflow-x: hidden !important;
    font-family: futura;
}

.logo {
    width: 150px;
    position: absolute;
    top: 5px;
    left: 50px;
}

.navbar {
    background-image: radial-gradient(farthest-side at 50% 50%, #d0ecf4, #afd5e0, #9BCBD9);
}

.nav-link img {
    width:150px;
}

.modal-content{
    margin-top: 100px;
    width: 350px !important;
    background-color: #ffffff00 !important;
    border: none !important;
    margin-left: 100px !important;
}
.modal-tarjeta{
    margin-top: 100px;
    background-color: #ffffff!important;
    border: none !important;
}
.modal-tarjeta ~.modal-backdrop {
   background-color: #FAACDB!important;
    opacity: 0.8!important;
}


.close {
    margin-top: 10px;
    float: right !important;
    width: 50px !important;
}

.container.is-login {
    background-color: #00bcd4;
    margin-top: 300px;
}

.container.is-amnesia {
    background-color: #757575;
    margin-top: 300px;
}

.container.is-register {
    background-color: #ffea00;
    margin-top: 400px;
}

/* --------------------------------
 * Login, Register & Amnesia Card.
 *
 * @version 1.0
 * -------------------------------- */
/* --------------------------------
 * Card.
 * -------------------------------- */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
}

.card--login,
.card--amnesia,
.card--register {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin: auto;
    width: 100%;
    max-width: 320px;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    -webkit-transform-origin: 0% 0% 0;
    transform-origin: 0% 0% 0;
    transition: all 0.42s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.card--login.is-active,
.card--amnesia.is-active,
.card--register.is-active {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
    transition-delay: 0.35s;
}

.card--amnesia {
    max-width: 400px;
}

/**
 * Card title.
 */
.card__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    color: currentColor;
    font-weight: 400;
}

.card__title--bottom {
    justify-content: flex-end;
}

.card__title--center {
    align-items: center;
}

/* Card title text */
.card__title-text {
    color: inherit;
    font-size: 24px;
    line-height: 24px;
}

/* Card title sub text */
.card__title-sub-text {
    color: inherit;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.56;
}

/**
 * Card content.
 */
.card__content {
    padding: 16px;
    color: inherit;
    line-height: 20px;
    font-size: 14px;
}

.card__content > :first-child {
    margin-top: 0;
}

.card__content > :last-child {
    margin-bottom: 0;
}

/**
 * Card action.
 */
.card__action {
    display: flex;
    padding: 8px;
    flex-direction: row;
    justify-content: space-between;
}

.card__action + .card__action {
    padding-top: 0;
}

.card__action--center {
    justify-content: center;
}

.card__action--center .btn + .btn {
    margin-left: 8px;
}

/* --------------------------------
 * Inputfields.
 * -------------------------------- */
.inputfield {
    position: relative;
    padding: 20px 0;
}

/**
 * Inputfields input.
 */
.inputfield__input {
    display: block;
    padding: 4px 0;
    width: 100%;
    color: #757575;
    font-size: 16px;
    line-height: 21px;
    background-color: transparent;
    border: 0 solid rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    outline: none;
}

/**
 * Inputfields label.
 */
.inputfield__label {
    position: absolute;
    top: 24px;
    left: 0;
    display: block;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    pointer-events: none;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.inputfield.is-dirty .inputfield__label,
.inputfield__input:focus ~ .inputfield__label {
    top: 0;
    font-size: 12px;
    font-weight: 500;
    transition-duration: 0.14s;
}

.inputfield.is-dirty .inputfield__label {
    color: #bdbdbd;
}

.inputfield__input:focus ~ .inputfield__label {
    color: #00bcd4;
}

.required {
    color: #f44336 !important;
    font-style: normal;
}

/**
 * Inputfields under-line.
 */
.inputfield__underline {
    position: absolute;
    bottom: 20px;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: #00bcd4;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.inputfield__input:focus ~ .inputfield__underline {
    left: 0%;
    right: 0%;
}

/* --------------------------------
 * Buttons.
 * -------------------------------- */
.btn {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    color: currentColor;
    line-height: 36px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 10% 10%;
    border: 0;
    border-radius: 2px;
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), outline-offset 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
}

.btn:focus {
    outline: thin dotted;
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:focus:active,
.btn:active {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 18px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.btn.is-animating {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.26) 10%, rgba(255, 255, 255, 0) 11%);
    -webkit-animation: btnRipple 0.35s forwards linear;
    animation: btnRipple 0.35s forwards linear;
}

/**
 * Button type modifiers.
 */
.btn--block {
    width: 100%;
    text-align: center;
}

.btn--block + .btn--block {
    margin-top: 8px;
}

.btn--primary {
    color: #fff;
    background-color: #00bcd4;
}

.btn--primary.is-animating {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.26) 10%, rgba(255, 255, 255, 0) 11%);
}

.btn--secondry {
    color: #424242;
    background-color: #ffea00;
}

.btn--secondry.is-animating {
    background-image: radial-gradient(circle, rgba(66, 66, 66, 0.26) 10%, rgba(66, 66, 66, 0) 11%);
}

/* Flat button */
.btn--flat {
    color: #424242;
    background-color: rgba(66, 66, 66, 0);
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.btn--flat:hover,
.btn--flat:focus,
.btn--flat:focus:active,
.btn--flat:active {
    background-color: rgba(66, 66, 66, 0.12);
}

.btn--flat.is-animating {
    background-image: radial-gradient(circle, rgba(66, 66, 66, 0.26) 10%, rgba(66, 66, 66, 0) 11%);
}

.btn--flat.btn--primary {
    color: #00bcd4;
    background-color: rgba(0, 188, 212, 0);
}

.btn--flat.btn--primary:hover,
.btn--flat.btn--primary:focus,
.btn--flat.btn--primary:focus:active,
.btn--flat.btn--primary:active {
    background-color: rgba(0, 188, 212, 0.12);
}

.btn--flat.btn--primary.is-animating {
    background-image: radial-gradient(circle, rgba(0, 188, 212, 0.26) 10%, rgba(0, 188, 212, 0) 11%);
}

.btn--flat.btn--secondry {
    color: #ffea00;
    background-color: rgba(255, 234, 0, 0);
}

.btn--flat.btn--secondry:hover,
.btn--flat.btn--secondry:focus,
.btn--flat.btn--secondry:focus:active,
.btn--flat.btn--secondry:active {
    background-color: rgba(255, 234, 0, 0.12);
}

.btn--flat.btn--secondry.is-animating {
    background-image: radial-gradient(circle, rgba(255, 234, 0, 0.26) 10%, rgba(255, 234, 0, 0) 11%);
}

/**
 * Button animations.
 */
@-webkit-keyframes btnRipple {
    84% {
        background-size: 1000% 1000%;
    }

    100% {
        background-size: 1100% 1100%;
    }
}

@keyframes btnRipple {
    84% {
        background-size: 1000% 1000%;
    }

    100% {
        background-size: 1100% 1100%;
    }
}

/* --------------------------------
 * Toggle.
 * -------------------------------- */
.toggle {
    position: relative;
    display: inline-flex;
}

.toggle--block {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}

.toggle--center {
    justify-content: center;
}

/**
 * Toggle input.
 */
.toggle__input {
    position: absolute;
    z-index: -1;
    height: 0;
    width: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    pointer-events: none;
    border: 0 !important;
    opacity: 0;
}

/**
 * Toggle label.
 */
.toggle__label {
    order: 1;
    font-size: 16px;
    font-weight: 500;
}

/**
 * Toggle checkbox.
 */
.toggle__checkbox {
    position: relative;
    z-index: 1;
    display: inline-flex;
    order: 0;
    align-self: center;
    margin: auto;
    margin-left: 8px;
    margin-right: 16px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #616161;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.28s ease-in-out;
}

.toggle__checkbox::after {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    content: '';
    height: 48px;
    width: 48px;
    background-color: rgba(66, 66, 66, 0.12);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    -webkit-perspective: 18px;
    perspective: 18px;
    -webkit-perspective-origin: 9px 9px;
    perspective-origin: 9px 9px;
    -webkit-transform-origin: 9px 9px 0;
    transform-origin: 9px 9px 0;
    -webkit-transform: scale(0) translate(-16px, -16px);
    transform: scale(0) translate(-16px, -16px);
}

.toggle__checkbox.is-animating::after {
    -webkit-animation: checkBoxRipple 0.42s linear forwards;
    animation: checkBoxRipple 0.42s linear forwards;
}

.toggle__input:checked ~ .toggle__checkbox {
    background-color: #00bcd4;
    border-color: #00bcd4;
}

.toggle__input:checked ~ .toggle__checkbox::after {
    background-color: rgba(0, 188, 212, 0.26);
}

/**
 * Toggle checkbox mark.
 */
.toggle__checkbox-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -8px;
    margin-left: -8px;
    fill: #fff;
    -webkit-perspective: 8px;
    perspective: 8px;
    -webkit-perspective-origin: 8px 8px;
    perspective-origin: 8px 8px;
    -webkit-transform-origin: 8px 8px 0;
    transform-origin: 8px 8px 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.toggle__input:checked ~ .toggle__checkbox > .toggle__checkbox-mark {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/**
 * Toggle animations.
 */
@-webkit-keyframes checkBoxRipple {
    84% {
        opacity: 1;
        -webkit-transform: scale(1) translate(-16px, -16px);
        transform: scale(1) translate(-16px, -16px);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.1) translate(-16px, -16px);
        transform: scale(1.1) translate(-16px, -16px);
    }
}

@keyframes checkBoxRipple {
    84% {
        opacity: 1;
        -webkit-transform: scale(1) translate(-16px, -16px);
        transform: scale(1) translate(-16px, -16px);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.1) translate(-16px, -16px);
        transform: scale(1.1) translate(-16px, -16px);
    }
}

/* --------------------------------
 * Helpers.
 * -------------------------------- */
.shadow-0dp {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}

.shadow-2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
}

.shadow-3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.14);
}

.shadow-4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.shadow-6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 18px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.shadow-8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.14), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.shadow-16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.12), 0 6px 30px 5px rgba(0, 0, 0, 0.14), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.shadow-24dp {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.14), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.sr-only {
    position: absolute;
    overflow: hidden;
    padding: 0;
    height: 1px;
    width: 1px;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.text-center {
    text-align: center;
}


.inicio {
    margin-top: 62px;
    min-height: 800px;
    background-image: url(../img/inicio.png);
    background-size: cover;
    padding-bottom: 50px;
}

.inicio h4 {
    font-family: 'tilli', sans-serif;
    color: #606060;
}

#x {
    width: 200px;
    left: 60%;
    position: absolute;
    top: 60%;
    z-index: 999;
    display: none;
}

.pol-inicio {
    min-height: 600px;
    border: 20px solid white;
    margin-top: 100px;
}

#ondas {
    width: 200px;
    display: none;
    float: right;
    margin-top: -80px;
}

.pol-inicio h1 {
    font-family: tilli;
    font-size: 60px;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    text-shadow: 2px 2px #000000;
}

.pol-inicio h4 {
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.planes {
    background-color: #F3E75B;
    text-align: center;
    padding-bottom: 50px;
}

.planes h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    font-family: tilli;
    color: black;
    text-shadow: 2px 2px white;
}

.garabato-uno img {
    width: 100%;
    margin-top: 50px;
}

.garabato-dos img {
    width: 100%;
    margin-top: 50px;
    transform: rotate(180deg);
}

.img-planes {
    padding-bottom: 20px;
}

.img-planes img {
    width: 90%;
    display: block;
    margin: auto;
}

.planes h3 {
    font-size: 20px;
    font-family: 'tilli', sans-serif;
    color: black;
    text-shadow: 2px 2px white;
}

.cuadro-1 {
    min-height: 600px;
    background-image: url(../img/cuadro-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pol-comprar {
    width: 60%;
    min-height: 400px;
    border: 15px solid white;
    margin-top: 100px;
    float: right;
    margin-right: -16px;
}

.cuadro-2 {
    padding: 0;
    min-height: 500px;
    background-image: url(../img/cuadro-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.comprar {
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: #ffffff70;
}

.comprar h1 {
    font-family: tilli;
    font-size: 60px;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    text-shadow: 2px 2px #000000;
}

.btn-comprar {
    width: 180px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.cuadro-3 {
    padding: 0;
    min-height: 500px;
    background-image: url(../img/litle.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cuadro-4 {
    padding: 0;
    min-height: 500px;
    background-image: url(../img/smart.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cuadro-5 {
    padding: 0;
    min-height: 500px;
    background-image: url(../img/huge.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.suscribirse p {
    text-align: center;
    margin-top: 400px;
    color: white;
}

.btn-pack {
    width: 180px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.instagram {
    min-height: 700px;
    background-image: radial-gradient(farthest-side at 50% 50%, #d0ecf4, #afd5e0, #9BCBD9);
    padding-bottom: 50px;
}

.img-insta {
    width: 100%;
    padding-bottom: 0px;
    padding-top: 50px;
}

.instagram h1 {
    font-family: tilli;
    font-size: 50px;
    color: black;
    padding-top: 50px;
    margin-left: 50px;
    text-shadow: 2px 2px white;
}

.instagram a h2 {
    font-family: 'futura', sans-serif;
    font-size: 40px;
    color: black;
    margin-left: 50px;
}

.instagram a:hover {
    text-decoration: none;
}

.ondas-2 {
    position: absolute;
    width: 200px;
    left: 150px;
    top: 50px;
}

.cuadro-rosa {
    min-height: 500px;
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 100px;
    border: 20px solid #E2A3D3;
}

.cuadro-rosa h1 {
    color: #A3D3E1;
    font-family: tilli;
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
}

.cuadro-rosa p {
    font-family: 'futura', sans-serif;
    font-size: 16px;
    text-align: center;
}

.cuadro-rosa p span {
    color: #E2A3D3;
}

.cuadro-rosa .form-control:focus {
    width: 120%;
    z-index: 999;
    margin-left: -40px;
    color: #e6e6e6;
    background-color: #e6e6e6;
    border:none!important;
    border-radius: 0!important;
    outline:  none!important;
    box-shadow: none!important;
}
.cuadro-rosa .form-control {
    width: 120%;
    z-index: 999;
    margin-left: -40px;
    color: #e6e6e6;
    background-color: #e6e6e6;
    border:none!important;
    border-radius: 0!important;
    outline:  none!important;
    box-shadow: none!important;
}
.formulario-2 {
    min-height: 700px;
    background-image: url(../img/formulario.jpg);
    background-size: cover;
    background-position: center;
}

::-webkit-input-placeholder {
    text-align: center !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center !important;
}

:-ms-input-placeholder {
    text-align: center !important;
}

.btn-recibir {
    width: 180px;
    padding-top: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.x-2 {
    position: absolute;
    right: -70px;
    bottom: 100px;
    z-index: 999 !important;
    width: 200px;
}

footer {
    background-color: #ECDF5C;
    height: 100px;
    padding: 40px;
    margin-top: 10vh;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #444;
    text-decoration: none;
}

.datos h1 {
    font-family: tilli;
    font-size: 50px;
    color: white;
    margin-top: 30px;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

.datos .info {
    padding: 20px;
    min-height: 400px;
    border: 20px solid white;
    border-bottom: 70px solid white;
    background-color: #33333399;
    
}

.datos .info p {
    color: gainsboro;
    font-family: 'futura', sans-serif;
}

.datos .info h4 {
    color: #E1A3D2;
    font-family: tilli;
}

.datos .info p span {
    margin-left: 10px;
    color: white;
    font-size: 18px;
    font-family: 'futura', sans-serif;
}

.suscripto {
    margin-top: 50px;
    padding: 20px;
    min-height: 400px;
    border: 20px solid white;
    border-bottom: 70px solid white;
    background-color: #33333399;
}

.suscripto h4 {
    color: #E1A3D2;
    font-family: tilli;
    text-align: center;
    padding-bottom: 30px;
}

.suscripto p {
    color: white;
    font-family: 'futura', sans-serif;
    margin-left: 20px;
}

.suscripto button {
    background-color: #99B3D1;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.tarjeta {
    min-height: 180px;
    background-color: white;
    border-radius: 15px;
    padding: 0 !important;
    margin-left: 20px;
    margin-top: 20px;
}

.tarjeta .franja {
    background-color: black;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.tarjeta p {
    color: black;
    text-align: center;
    margin-top: 10px;
}

.tarjeta small {
    margin-left: 30%;
}

.tarjeta button {
    background-color: red;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.mis-fotos {
    background: #fff;
    min-height: 800px;
    padding-bottom: 50px;
}


.panel-izquierdo h2 {
    text-align: center;
    margin-top: 10px;
}

.panel-izquierdo .separador {
    border-bottom: 1px solid black;
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.panel-izquierdo h3 {
    text-align: center;
    margin-top: 20px;
    color: white;
    background-color: #ECDE5D;
    border-radius: 5px;
}

.panel-izquierdo h4 {
    text-align: center;
    margin-top: 10px;
}

.panel-izquierdo p {
    text-align: left;
}

.panel-izquierdo p i {
    color: #9EB0CD;
    font-size: 20px;
    padding-right: 10px;
}

.panel-izquierdo button {
    width: 60%;
    display: block;
    margin: auto;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.panel-izquierdo .btn-facebook {
    background-color: #3B5998;
}

.panel-izquierdo .btn-instagram {
    background: #FF512F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.log-insta {
    font-size: 35px;
    color: #DD2476;
    cursor: pointer;
    margin-left: 60px;
}

.log-face {
    font-size: 35px;
    color: #3b5998;
    cursor: pointer;
    margin-left: 80px;

}

.panel-izquierdo .btn-subir {
    background: #ff6e7f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bfe9ff, #ff6e7f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.panel-derecho {
    margin-top: 100px;
}

.panel-derecho h1 {
    font-family: tilli;
    text-align: center;
}

.panel-derecho .foto {
    -webkit-box-shadow: -5px -5px 26px 13px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -5px -5px 26px 13px rgba(0, 0, 0, 0.33);
    box-shadow: -5px -5px 26px 13px rgba(0, 0, 0, 0.33);
    min-height: 350px;
    margin-left: 50px;
    margin-top: 50px;
}

.foto img {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.foto .tl {
    width: 20px;
    float: right;
    margin-top: 20px;
    padding-bottom: 20px;
}

.formulario-foto {
    position: absolute;
    background-color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    padding-top: 100px;
}
.formulario-foto form{
    margin-top: -50px;
}

.formulario-foto:hover {
    opacity: 0.8;
}

.formulario-foto input {
    border-bottom: 1px solid black !important;
}

input:focus {
    outline: none!important;
}

.frecuentes {
    margin-top: 100px;
}

.frecuentes h1 {
    padding-bottom: 30px;
    font-family: tilli;
}

.btn-frecuente {
    border: none;
    background: #F9F9F9;
    font-family: 'futura', sans-serif;
    font-size: 20px;
}

.contacto {
    padding: 50px;
}

.contacto input {
    margin-top: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.contacto textarea {
    margin-top: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.contacto button {
    background: #F3E75B;
    border: none;
    color: white;
    font-family: 'futura', sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    margin: auto;
    margin-top: 30px;

}
#btn-editar-direccion, #btn-editar-cuenta{
    cursor: pointer;
}

@media (max-width: 576px) {
    .logo {
        width: 100px;
        position: absolute;
        left: auto;
        right: 20px;
        top: 20px;
    }

    .panel-izquierdo {
        position: relative;
        display: block;
        margin: auto;
        margin-top: 60px;
        border-radius: 0px;
        right: 0;
    }

    .panel-derecho .foto {
        display: block;
        margin: auto;
        margin-top: 50px;
    }

    .foto .tl {
        margin-top: 30px;
        padding-bottom: 20px;
    }

}


#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}


.panel-izquierdo {
    background-color: #F1F2F3;
    margin-top: 75px;
    border-radius: 20px;
    min-height: 480px;
    padding-bottom: 30px;
    position: fixed;
    right: 50px;
}
.foto img {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.panel-derecho .foto {
    -webkit-box-shadow: -5px -5px 26px 13px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -5px -5px 26px 13px rgba(0, 0, 0, 0.33);
    box-shadow: -5px -5px 26px 13px rgba(0, 0, 0, 0.33);
    min-height: 235px;
    margin-left: 50px;
    margin-top: 50px;
}


.panel-derecho .rectangular {
    -webkit-box-shadow: -5px -5px 26px 13px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -5px -5px 26px 13px rgba(0, 0, 0, 0.33);
    box-shadow: -5px -5px 26px 13px rgba(0, 0, 0, 0.33);
    height: 200px!important;
    min-height: 200px!important;
    margin-left: 50px;
    margin-top: 50px;
}

